@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variables.scss" as v;

.catalog {
  padding: 15px 20px;
  flex-grow: 1;
  @include m.pcS() {
    display: flex;

    padding: m.rem(25) m.rem(75);
  }
  &_genres {
    color: v.$white;
    margin-bottom: 30px;
    h2 {
      margin-bottom: 10px;
    }
    @include m.pcS {
      margin-bottom: unset;
      margin-right: m.rem(30);
      max-width: m.rem(250);
      min-width: m.rem(250);
      h2 {
        line-height: 1;
        margin-bottom: m.rem(15);
      }
    }
  }
  &_content {
    display: flex;
    flex-wrap: wrap;
    @include m.pcS() {
      margin: m.rem(-10);
      flex-grow: 1;
    }
  }
}
