@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variables.scss" as v;

.buttons_item__white {
  background: v.$white;
  color: v.$black;
  border: 1px solid transparent;
  @include m.trans;
  &:hover {
    border: 1px solid v.$black;
    background: v.$yellow;
    @include m.pcS {
      border: m.rem(1) solid v.$black;
    }
  }
  @include m.pcS {
    border: m.rem(1) solid transparent;
  }
  .buttons_item__icon {
    width: 18px;
    margin-right: 5px;
    img {
      height: 100%;
      vertical-align: baseline;
      width: 100%;
    }
    @include m.pcS {
      width: m.rem(20);
      margin-right: m.rem(5);
    }
  }
  &.buttons_item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 18px;
    width: 100%;
    padding: 10px;
    @include m.pcS {
      border-radius: m.rem(18);
      padding: m.rem(10) m.rem(30);
    }
    p {
      font-size: 18px;
      @include m.pcS {
        font-size: m.rem(20);
      }
    }
    .buttons_item__link {
      @include m.block_full();
    }
    // &:not(:last-of-type) {
    //   margin-right: 10px;
    // }
  }
}
