@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variables.scss" as v;
.catalog_genres_list {
  max-width: 100%;
  display: flex;
  padding-bottom: 10px;
  @include m.scroll;
  scroll-snap-type: x mandatory;
  @include m.FadeInLeft;
  @include m.pcS() {
    overflow: unset;
    display: block;
    padding-bottom: unset;
  }
}
