@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variables.scss" as v;

.canvas_bg {
  display: none;
  @include m.pcS {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    z-index: -1;
  }
}
