@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variables.scss" as v;

.technology_item {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include m.fadeInUp;
  @include m.pcS {
    width: 25%;
  }
  &__icon {
    width: 75px;
    margin-bottom: 10px;
    @include m.pcS {
      width: m.rem(150);
      margin-bottom: m.rem(15);
    }
  }
  &__text {
    color: v.$white;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 4px;
    text-align: center;
    @include m.pcS {
      font-size: m.rem(48);
      letter-spacing: m.rem(4);
    }
  }
}
